<li class="set" data-set-id={{_id}}>
	<a href="#" class="edit-set">{{name}}</a>
	<ul class="button-group radius right">
     <li><a href="#" class="button tiny open-modal-share-set">Share</a></li>
     <li><a href="#" class="button tiny alert delete-set">Delete</a></li>
 </ul>
</li>
