<li class="share" data-share-id={{_id}}>
	<a href="#" class="shared-set">{{name}}</a>
	<ul class="button-group radius right">
       <li>
           <a href="#" class="button tiny alert delete-share">Delete</a>
       </li>
   </ul>
</li>
