<div id='share-wrapper' data-set-id={{id}}>
  <h3>Share Your Set</h3>
  <form id="share-form">
    <label for="share-name">Share Message</label>
    <input id="share-name" type="text" placeholder="Name" name="name">
    <label for="share-recipient">Recipient</label>
    <input type="text" id="share-recipient" placeholder="Recipient" name="recipient">
    <input class="button radius tiny" type="submit" value="Share"/>
</form>
</div>
